name: Deploy

on:
  push:
    branches:
      - master

permissions:
  pages: write
  contents: read
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Build
        run: zig build wasm

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./web

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
